@media (max-width: 1401px)
    // .reviews
    //     &__coments
    //         display: flex
    //         flex-direction: column
    //         align-items: ce
@media (max-width: 1281px)
    .coments
        width: 70%
    .reviews
        // height: 540px
        &__coments
            justify-content: space-around
        &__block
            height: 200px
            & p
                width: 320px

@media (max-width: 1094px)
    .offer
        &__wrapper
            height: 110vh
        &__block-1
            & h1
                width: 90%
        &__block-2
            &--img
                width: 90%
                height: 60%
    .reviews
        // height: 580px
        &__block
            height: 220px
            & p
                width: 280px

@media (max-width: 1024px)
    .text-s
        font-size: 14px
    .text-m
        font-size: 18px
    .text-l
        font-size: 32px
    .offer-btn
        width: 110px
        height: 110px
    .nav-menu
        &__item
            margin-right: 22px
    .offer
        &__wrapper
            height: 940px

        &__block-1
            background-image: url("../img/offer/offer.png")
            background-position: center
            background-size: cover
            background-repeat: no-repeat
            & h1
                width: 90%
                font-size: 35px
            & h2
                & span
                    font-size: 40px
        &__block-2
            display: none
    .offer__block---img
        background-image: url("../img/offer/vasia.png")
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        width: 440px
        height: 370px
        margin: auto
    .offer-blocks
        width: 100%
    .offer-btn
        top: 260px
        left: 75%
        margin-right: 0
        transform: translate(0, 0)
    .movie
        height: 580px
    .revolution
        height: 580px
        &__block
            & h2
                font-size: 25px
        &__marketing
            & div
                flex-direction: column
                justify-content: space-evenly
                padding-top: 15px
                padding-bottom: 15px
                & p
                    width: 180px
    .coments
        width: 75%
        &__coment
            margin-top: 20px
            background: rgba(80, 80, 80, 0.52)
            border-radius: 30px
            width: 340px
            padding: 15px 20px
    .coment
        height: 740px
    .reviews
        // height: 680px
        &__coments
            flex-direction: column
            align-items: center
        &__coment
            margin-bottom: 30px
            &:last-child
                margin-bottom: 0
        &__block
            height: 140px
            & p
                width: 440px
    .rev-1
        width: 72px
        height: 72px
    .rev-2
        width: 72px
        height: 72px
@media (max-width: 769px)
    .outer
        padding-top: 60px
        padding-bottom: 60px
    .nav-menu
        display: none
    .offer__block---img
        width: 400px
        height: 340px
    .movie
        height: 520px
    .revolution
        height: 100%
        &__block
            height: 520px
        &__wrapper
            flex-direction: column
    .img-1
        width: 89px
        height: 89px
    .img-2

        width: 80px
        height: 98px
    .img-3
        width: 76px
        height: 82px
    .smartphone
        &__wrapper
            & p
                margin-top: 30px
                margin-bottom: 60px
    .coments
        width: 85%
    .com-l
        margin-right: 100px
    .com-r
        margin-left: 100px
    .coment
        height: 780px
    .reviews
        // height: 640px
        &__text
            margin-top: 30px
            margin-bottom: 60px
        &__coment
            margin-bottom: 30px
            &:last-child
                margin-bottom: 0
        &__block
            & p
                width: 380px
    .form2
        &__wrapper
            flex-direction: column
            width: 90%
            margin: auto
            margin: 0
        &__inputs
            width: 100%
            height: 60px
            margin-bottom: 15px
        &__btn
            display: block
            height: 60px
@media (max-width: 721px)
    .form
        &__wrapper
            display: flex
            flex-direction: column
            width: 440px
    .offer-btn
        top: 290px
    .reviews
        // height: 700px

@media (max-width: 561px)
    .revolution
        height: 100%
        &__block
            height: 560px
@media (max-width: 581px)
    .coments
        width: 85%
    .com-l
        margin-right: 60px
    .com-r
        margin-left: 60px
    .reviews
        // height: 640px
        &__coment
            margin-bottom: 30px
            &:last-child
                margin-bottom: 0
        &__block
            & p
                width: 380px
    .reviews
        // height: 780px
        &__coment
            margin-bottom: 30px
            &:last-child
                margin-bottom: 0
        &__block
            height: 180px
            & p
                width: 240px
@media (max-width: 541px)
    .text-s
        font-size: 14px
    .text-m
        font-size: 16px
    .text-l
        font-size: 28px
    .offer
        &__wrapper
            height: 860px
        &__block-1
            & h1
                font-size: 28px
            & h2
                margin-top: 15px
                margin-bottom: 12px
            & p
                width: 80%
                margin: auto
    .offer__block---img
        width: 340px
        height: 280px
    .form
        &__wrapper
            width: 380px
    .offer-btn
        width: 100px
        height: 100px
        top: 330px
    .img-1
        width: 75px
        height: 75px
    .img-2
        width: 70px
        height: 86px
    .img-3
        width: 66px
        height: 72px
    .smartphone
        &__wrapper
            text-align: center
            width: 90%
    .coment
        height: 740px
    .coments
        width: 100%

@media (max-width: 460px)
    .offer__wrapper
        height: 880px
    .coment
        height: 780px
@media (max-width: 421px)
    .revolution
        &__block
            & h2
                font-size: 22px
            & span
                font-size: 54px
    .smartphone
        &__wrapper
            & p
                margin-top: 30px
                margin-bottom: 50px
    .com-l
        margin-right: 0
    .com-r
        margin-left: 0
    .coments
        &__coment
            width: 300px
            padding: 12px 12px
    .reviews
        // height: 640px
        &__text
            margin-top: 30px
            margin-bottom: 50px
        &__coment
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
        &__block
            height: 220px
            margin-left: 12px
            & p
                width: 200px
    .rev-1
        width: 62px
        height: 62px
    .rev-2
        width: 62px
        height: 62px
    .form2
        &__inputs
            width: 100%
            height: 50px
            margin-bottom: 10px
@media (max-width: 391px)
    .outer
        padding-top: 40px
        padding-bottom: 40px
    .offer__block---img
        width: 280px
        height: 220px
    .form
        &__wrapper
            width: 310px
    .offer-btn
        width: 90px
        height: 90px
        top: 365px
        left: 65%
    .revolution
        &__marketing
            margin-top: 20px
    .img-1
        width: 65px
        height: 65px
    .img-2
        width: 60px
        height: 74px
    .img-3
        width: 56px
        height: 62px
    .smartphone
        &__wrapper
            & p
                margin-top: 20px
                margin-bottom: 40px
    .reviews

        &__text
            margin-top: 20px
            margin-bottom: 40px
@media (max-width: 355px)
    .coment
        height: 840px
@media (max-width: 341px)
    .offer
        &__wrapper
            height: 830px
        &__block-1
            & h1
                font-size: 28px
            & h2
                margin-top: 0px
                margin-bottom: 12px
    .revolution
        height: 100%
        &__block
            height: 580px
    .reviews

        &__coment
            margin-bottom: 15px
            &:last-child
                margin-bottom: 0
        &__block
            height: 240px
            margin-left: 12px
            & p
                width: 180px
